<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.nts.pjt5_6.dao.CommentsMapper">
	<insert id ="insertReservUserComment" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reservation_user_comment(
			product_id
			,reservation_info_id
			,score,comment
			,create_date,modify_date
			) 
		VALUES(
			#{productId}
			,#{reservationInfoId}
			,#{score},#{comment}
			,NOW(),NOW()
			)
	</insert>
	<insert id ="insertFileInfo" parameterType="map" useGeneratedKeys="true" keyProperty="fileId" keyColumn = "id">
		INSERT INTO file_info(
			file_name
			,save_file_name
			,content_type
			,delete_flag
			,create_date,modify_date
			) 
		VALUES(
			#{fileName}
			,#{saveFileName}
			,#{contentType}
			,"0"
			,NOW(),NOW()
			)
	</insert>
	<insert id ="insertReservationImage" parameterType="map">
		INSERT INTO reservation_user_comment_image(
			reservation_info_id
			,reservation_user_comment_id
			,file_id
			) 
		VALUES(
			#{reservationInfoId}
			,#{reservationUserCommentId}
			,#{fileId}
			)
	</insert>
</mapper> 