<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nts.pjt5_6.dao.DisplayInfoImageMapper">
	<select id="selectDisplayImagesInfo" parameterType="int" resultType="DisplayInfoImages">
		SELECT product.id
			,display_info_id
			,file_id
			,file_name
			,save_file_name
			,content_type
			,delete_flag
			,flInfo.create_date
			,flInfo.modify_date
		FROM product
		INNER JOIN display_info AS dpInfo
				ON product.id = dpInfo.product_id 
		INNER JOIN display_info_image AS dpInfoImg
				ON dpInfo.id = dpInfoImg.display_info_id
		INNER JOIN file_info AS flInfo
				ON dpInfoImg.file_id = flInfo.id 
		WHERE dpInfo.id = #{dpInfoId}
    </select>

</mapper>