<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nts.pjt5_6.dao.ProductMapper">
	<select id="selectProductsPaging" parameterType="map" resultType="com.nts.pjt5_6.dto.Product">
        SELECT product.id,category_id,
        	dpInfo.id AS display_info_id,
        	category.name,description,content,event,opening_hours,
        	place_name,place_lot,place_street,
        	tel,homepage,email,
        	product.create_date,product.modify_date
        FROM product,
        	display_info AS dpInfo,
        	category
        WHERE product.id= dpInfo.product_id 
        AND product.category_id = category.id
        <if test = "categoryId != 0">
        AND category.id = #{categoryId}
        </if>
        ORDER BY product.id LIMIT #{start}, #{limit}
    </select>
    
    <select id="selectCountDisplayInfo" parameterType="int" resultType="int">
        SELECT count(*) AS count
        FROM category,
        	product,
        	display_info AS dpInfo
        WHERE category.id = product.category_id 
        AND product.id = dpInfo.product_id
        <if test = "categoryId != 0">
        AND category_id = #{categoryId}
        </if>
    </select>
    
    <select id="selectProductByProductId" parameterType="int" resultType="com.nts.pjt5_6.dto.Product">
    	SELECT product.id,category_id
    		,description
    		,content
    	FROM product
    	WHERE id = #{productId}
    </select>
</mapper>