<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nts.pjt5_6.dao.PromotionMapper">
	<select id="selectAllPromotionItems" resultType="Promotion">
		SELECT promotion.id
			,promotion.product_id
            ,category_id
            ,name AS category_name
            ,description
            ,prodImg.id AS product_image_id
		FROM promotion
        INNER JOIN product
				ON promotion.product_id = product.id
		INNER JOIN category
				ON product.category_id = category.id 
		INNER JOIN product_image AS prodImg
				ON prodImg.product_id = product.id 
		WHERE prodImg.type='ma'
	</select>
	
	<select id="selectCountTotalPromotionItem" resultType="int">
		SELECT count(*) AS size
		FROM promotion
		INNER JOIN product
				ON promotion.product_id = product.id 
		INNER JOIN category
				ON product.category_id = category.id 
		INNER JOIN product_image AS prodImg
				ON prodImg.product_id = product.id 
		WHERE prodImg.type='ma'
	</select>		
</mapper>