<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.nts.pjt5_6.dao.ReservationUserCommentImageMapper">
 
 	<select id="selectCommentImagesByCommentId" parameterType="int" resultType="ReservationUserCommentImages">
		SELECT reservUserCommentImg.id
			,reservation_info_id
			,reservation_user_comment_id
			,file_id
			,file_name
			,save_file_name
			,content_type
			,delete_flag
			,create_date
			,modify_date
    	FROM reservation_user_comment_image AS reservUserCommentImg
        INNER JOIN file_info AS flInfo
				ON reservUserCommentImg.file_id = flInfo.id 
    	WHERE reservUserCommentImg.reservation_user_comment_id = #{commentId}
    </select>
    
    <insert id ="insertReservationImage" parameterType="map">
		INSERT INTO reservation_user_comment_image
			(
			 reservation_info_id
			,reservation_user_comment_id
			,file_id
			) 
		VALUES(
			#{reservationInfoId}
			,#{reservationUserCommentId}
			,#{fileId}
			)
	</insert>
 </mapper>