<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.nts.pjt5_6.dao.ReservationUserCommentMapper">
	<insert id ="insertReservUserComment" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO reservation_user_comment
			(
			 product_id
			,reservation_info_id
			,score
			,comment
			,create_date
			,modify_date
			) 
		VALUES
			(
			#{productId}
			,#{reservationInfoId}
			,#{score}
			,#{comment}
			,NOW()
			,NOW()
			)
	</insert>
	
	<sql id="selectComment">
		SELECT reservUserComment.id
			,product.id AS product_id
            ,reservation_info_id
            ,score
            ,comment
            ,reservInfo.reservation_email
            ,reservInfo.reservation_date
            ,reservUserComment.create_date
            ,reservUserComment.modify_date
    	FROM product
        INNER JOIN reservation_user_comment AS reservUserComment
				ON product.id = reservUserComment.product_id 
		INNER JOIN display_info AS diInfo
				ON diInfo.product_id = product.id
		INNER JOIN reservation_info AS reservInfo
				ON reservUserComment.reservation_info_id = reservInfo.id 
	</sql>
	
	<select id="selectCommentsByDisplayId" parameterType="int" resultType="Comments">
    	<include refid="selectComment"/>
    	WHERE diInfo.id = #{dpInfoId}
	</select>
	
	<select id="selectCommentsByCommentId" parameterType="int" resultType="Comments">
    	<include refid="selectComment"/>
    	WHERE reservUserComment.id = #{id}
    </select>
</mapper> 